
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html><head>
<title>西北工业大学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">
<META Name="keywords" Content="西北工业大学" />
<meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">
<meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta content="IE=9" ?http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/style.css" rel="stylesheet">
<link href="css/aos.css" rel="stylesheet">
<link href="css/chuwang.net.css" rel="stylesheet">
<link href="nwpu.ico" rel="icon" type="image/x-ico">
<style>
.banner{padding-top:0;}
</style>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232306975475152555742000200014156 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1002,'/index.jsp',-1,1328288089)</script>
</head>
<body id="body" style="background-color: rgb(251, 251, 251);">




<style type="text/css">















#browser-modal{width:100%;height:100%;top:0;left:0;text-align:center;color:#303233;position:fixed;z-index:9999999999999999;display: none;}
#browser-modal .browser-modal-cover{position:fixed;left:0;top:0;height:100%;width:100%;background-color:#111;opacity:.9;z-index:-1;}
#browser-modal .browser-content{width:700px;margin-top:120px;margin-left:auto;margin-right:auto;padding-bottom:80px;padding-top:30px;background-color:#fff;border-radius:5px;}
#browser-modal .browser-content .browser-dpc-logo img{height:62px;margin:45px auto 30px;}
#browser-modal .browser-content .browser-text-title{text-transform:uppercase;font-size:24px;}
#browser-modal .browser-content .browser-text-desc{margin-top:30px;margin-bottom:40px;font-size:14px;}
#browser-modal .browser-content .browser-list{width:600px;margin:40px auto;height:130px;}
#browser-modal .browser-content .browser-item{float:left;width:150px;padding-top:20px;padding-bottom:20px;margin-left:auto;margin-right:auto;}
#browser-modal .browser-content .browser-item .iconfont{width:100px;height:100px;margin:0 auto;font-size:80px;line-height:80px;margin-bottom:30px;}
#browser-modal .browser-content .browser-item a{color:#921041;cursor:pointer;display:block;}
#browser-modal .browser-content .browser-item a img{display:block;margin:0 auto;max-width:100px;width:100px;height:100px;}
#browser-modal .browser-content .browser-item a h4{text-align:center;margin-top:20px;font-size:18px;font-weight:700;}
.fixedok .banner {opacity:0;}

#browser-modal .browser-content .browser-item .iconchrome{background:url(images/bro.png) no-repeat 0 0;}
#browser-modal .browser-content .browser-item .iconfirefox{background:url(images/bro.png) no-repeat 0 -100px;}
#browser-modal .browser-content .browser-item .iconopera{background:url(images/bro.png) no-repeat 0 -200px;}
#browser-modal .browser-content .browser-item .iconEdge{background:url(images/bro.png) no-repeat 0 -300px;}


</style>

<div id="browser-modal">
    <div class="browser-modal-cover">
    </div>
    <div class="browser-content">
        <div class="browser-text">
            
            <h3 class="browser-text-title">网站页面已加载完成</h3>
            <p class="browser-text-desc">
        由于您当前的浏览器版本过低，存在安全隐患。建议您尽快更新，以便获取更好的体验。推荐使用最新版Chrome、Firefox、Opera、Edge
            </p>
        </div>
        <div class="browser-list">
            <div class="browser-item">
                <div class="iconfont iconchrome">
                </div>
                <h4>Chrome</h4>
                
            </div>
            <div class="browser-item">            
                <div class="iconfont iconfirefox">
                </div>
                <h4>Firefox</h4>
                
            </div>
            <div class="browser-item">             
                <div class="iconfont iconopera">
                </div>
                <h4>Opera</h4>
                
            </div>
            <div class="browser-item">              
                <div class="iconfont iconEdge">
                </div>
                <h4>Edge</h4>
                
            </div>
        </div>
    </div>
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE","")) < 10){
            document.getElementById('browser-modal').style.display='block';
            console.log("您的浏览器版本过低，请使用IE10以上版本");
    }
    </script>
</div>
<div class="contaienr">
<div class="fixwrap fixwrap1">
<div class="top">
<div class="top-con">
<div class="top-con-right">
<div class="top-con-right1"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script><a href="fktd/xs.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11472)">学生</a>
<a href="fktd/jg.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11473)">教工</a>
<a href="http://xyh.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11474)">校友</a>
<a href="fktd/fk.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11475)">访客</a>
</div>
<div class="top-con-right2">
<h3>常用链接</h3>
<div class="links"><a href="https://uis.nwpu.edu.cn/cas/login?service=https%3A%2F%2Fecampus.nwpu.edu.cn%2Fc%2Fportal%2Flogin%3Fredirect%3D%252Fc" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11490)">翱翔门户</a>
<a href="https://oa.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11491)">翱翔办公</a>
<a href="http://mail.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11492)">电子邮件</a>
</div></div>
<div class="top-con-right3"><img alt="" src="images/yx.png"> <a href="sjxx.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11477)">书记</a>&nbsp;|
   
<a href="xzxx.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11478)">校长</a>
   
</div>
<div class="top-con-right4">

    <a href="http://en.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11476)">ENG</a>
    
    
    
</div>
<div class="top-con-right5">
<div class="search">
<div>


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><style>
.listBox .qtxx1{width: 100%;padding: 10px 0;height: auto;overflow: hidden;}
.listBox .qtxx1 img{width: 160px;height: auto;float: left;}
    #appu4 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu4 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu4"></div>
<script type="text/html" id="htmlu4">
    <div id="appu4">
        <div v-if="!isError">
           <input type="text" class=" test"  placeholder="请输入关键字" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
      
            
            
            
          
         
            
            
            
            
            
            
        
            <input id="btn"  name="submit_button" type="button" lass="tj" v-on:click="onSubmit()" src="/system/_owners/indextest/_webprj/images/sou.png" value="" >
            
            
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu4").html($("#htmlu4").text());
</script>
<script>
    var appOwner = "1328288089";
    var token = 'tourist';
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu4",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://yykfpt.nwpu.edu.cn/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div></div><img id="sou" alt="" src="images/sou.png"> </div></div></div></div>
<div class="header header1">
<div class="header-con">
<div class="logo1">    <a href="index.htm"><img src="images/logo2.png" alt=""></a>
</div>
<div class="nav">
<div class="box">
<ul>     <li class="li-one"><a href="xxgk.htm" target="">学校概况</a>
          <ul>

<li><a href="xxgk/xxjj.htm" class="sech" target="">学校简介</a></li>

<li><a href="xxgk/xxls.htm" class="sech" target="">学校历史</a></li>

<li><a href="xxgk/ld.htm" class="sech" target="">现任领导</a></li>

<li><a href="xxgk/oleader.htm" class="sech" target="">历任领导</a></li>
     </ul>
  </li>     <li class="li-one"><a href="jgsz_cd_/dzjg/dqbm.htm" target="">组织机构</a>
          <ul>

<li><a href="jgsz_cd_/dzjg/dqbm.htm" class="sech" target="">党政机关</a></li>

<li><a href="jgsz_cd_/jxkyjg/xy_xb.htm" class="sech" target="">教学科研机构</a></li>

<li><a href="jgsz_cd_/zhichenghe/zcdw.htm" class="sech" target="">支撑和服务保障机构</a></li>

<li><a href="jgsz_cd_/kypt.htm" class="sech" target="">科研平台</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">人才培养</a>
          <ul>

<li><a href="http://jiaowu.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生教育</a></li>

<li><a href="http://gs.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生教育</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育</a></li>

<li><a href="https://axsh.nwpu.edu.cn/" class="sech" target="target=" _blank"">出国（境）交流</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/new/szdw/szgk.htm" target="">师资队伍</a>
          <ul>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/lyys.htm" class="sech" target="target=" _blank"">两院院士</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/jcrc.htm" class="sech" target="target=" _blank"">杰出人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/qnrc.htm" class="sech" target="target=" _blank"">青年人才</a></li>

<li><a href="https://teacher.nwpu.edu.cn/" class="sech" target="target=" _blank"">教师主页</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">科学研究</a>
          <ul>

<li><a href="http://kypt.nwpu.edu.cn/" class="sech" target="target=" _blank"">科研平台</a></li>

<li><a href="https://equip.nwpu.edu.cn/" class="sech" target="target=" _blank"">设备共享</a></li>

<li><a href="http://xygg.nwpu.edu.cn/xygg/xsdt.htm" class="sech" target="target=" _blank"">学术活动</a></li>

<li><a href="https://news.nwpu.edu.cn/xsky.htm" class="sech" target="target=" _blank"">学术科研</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="target=" _blank"">合作交流</a>
          <ul>

<li><a href="https://dangzheng.nwpu.edu.cn" class="sech" target="target=" _blank"">战略合作</a></li>

<li><a href="http://guoji.nwpu.edu.cn/" class="sech" target="target=" _blank"">海外合作</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">招生就业</a>
          <ul>

<li><a href="http://zsb.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生招生</a></li>

<li><a href="http://yzb.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生招生</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育招生</a></li>

<li><a href="http://job.nwpu.edu.cn/home.do" class="sech" target="target=" _blank"">就业信息网</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/rczp/index.htm" target="">人才招聘</a>

  </li></ul></div></div></div></div></div>

<div class="fixwrap fixwrap2">
<div class="header2">
<div class="header-con">
<div class="logo1">    <a href="index.htm"><img src="images/logo_xl.png" alt="" style="height:45px;"></a>
</div>
<div class="nav">
<div class="box">
<ul>     <li class="li-one"><a href="xxgk.htm" target="">学校概况</a>
          <ul>

<li><a href="xxgk/xxjj.htm" class="sech" target="">学校简介</a></li>

<li><a href="xxgk/xxls.htm" class="sech" target="">学校历史</a></li>

<li><a href="xxgk/ld.htm" class="sech" target="">现任领导</a></li>

<li><a href="xxgk/oleader.htm" class="sech" target="">历任领导</a></li>
     </ul>
  </li>     <li class="li-one"><a href="jgsz_cd_/dzjg/dqbm.htm" target="">组织机构</a>
          <ul>

<li><a href="jgsz_cd_/dzjg/dqbm.htm" class="sech" target="">党政机关</a></li>

<li><a href="jgsz_cd_/jxkyjg/xy_xb.htm" class="sech" target="">教学科研机构</a></li>

<li><a href="jgsz_cd_/zhichenghe/zcdw.htm" class="sech" target="">支撑和服务保障机构</a></li>

<li><a href="jgsz_cd_/kypt.htm" class="sech" target="">科研平台</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">人才培养</a>
          <ul>

<li><a href="http://jiaowu.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生教育</a></li>

<li><a href="http://gs.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生教育</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育</a></li>

<li><a href="https://axsh.nwpu.edu.cn/" class="sech" target="target=" _blank"">出国（境）交流</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/new/szdw/szgk.htm" target="">师资队伍</a>
          <ul>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/lyys.htm" class="sech" target="target=" _blank"">两院院士</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/jcrc.htm" class="sech" target="target=" _blank"">杰出人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/qnrc.htm" class="sech" target="target=" _blank"">青年人才</a></li>

<li><a href="https://teacher.nwpu.edu.cn/" class="sech" target="target=" _blank"">教师主页</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">科学研究</a>
          <ul>

<li><a href="http://kypt.nwpu.edu.cn/" class="sech" target="target=" _blank"">科研平台</a></li>

<li><a href="https://equip.nwpu.edu.cn/" class="sech" target="target=" _blank"">设备共享</a></li>

<li><a href="http://xygg.nwpu.edu.cn/xygg/xsdt.htm" class="sech" target="target=" _blank"">学术活动</a></li>

<li><a href="https://news.nwpu.edu.cn/xsky.htm" class="sech" target="target=" _blank"">学术科研</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="target=" _blank"">合作交流</a>
          <ul>

<li><a href="https://dangzheng.nwpu.edu.cn" class="sech" target="target=" _blank"">战略合作</a></li>

<li><a href="http://guoji.nwpu.edu.cn/" class="sech" target="target=" _blank"">海外合作</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">招生就业</a>
          <ul>

<li><a href="http://zsb.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生招生</a></li>

<li><a href="http://yzb.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生招生</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育招生</a></li>

<li><a href="http://job.nwpu.edu.cn/home.do" class="sech" target="target=" _blank"">就业信息网</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/rczp/index.htm" target="">人才招聘</a>

  </li></ul>
</div></div>
</div>
</div>
</div>
<script>
    /*导航滑动特效*/
    $(document).scroll(function () {
        var top = $(document).scrollTop();
        if (top > 566) {
            $(".fixwrap2").show();
        }else{
            $(".fixwrap2").hide();
        }
    });
</script>




<div class="banner" style="max-height: 910px;min-height: 442px;">
<div class="callbacks_container">
<ul class="rslides" id="slider" style="z-index: 1;">    
<li><img src="images/IMG_0807.jpeg" />
</li>



<li><img src="images/9e4a7a2c182c18c7265f857b80554995.png" />
</li>



<li><img src="images/ce103b6661912f8269f0ab4a98aefbe6.png" />
</li>




<li><a href="https://www.nwpu.edu.cn/info/1208/106298.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 1017422)"><img src="images/2025/yun2020250615kaimushijiazimu.png" /></a></li>





<li><a href="https://www.nwpu.edu.cn/info/1198/107068.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 1017494)"><img src="images/feitian.png" /></a></li>



</ul><div style="width: 150px;height:30px;line-height:30px;background-color:#2267b1;position:relative;top: 80%;z-index:999;opacity: 0.8;font-size: 18px;font-weight: bold;margin-top:-25px; display:none;"><a href="index/gdyx/a2025/a5y.htm" style="color:#ffffff;">工大映像</a></div>
<div style="position:absolute; bottom:-3px; left:50%; margin-left:70px; z-index:101;"><a href="index/gdyx/a2025/a2y.htm" target="_blank" style="display:block; font-size:16px; color:#fff;">>></a></div>

</div></div>
<div class="main">
<div class="main-box1">
<div class="main-box1-con">
<div class="main-box1-con-top">
<div class="dsfsfsgg">
<span class="top-left" target=""><a class="leftmove" href="xwtz/gdyw.htm" target="_blank">工大要闻</a> </span><a href="xwtz/gdyw.htm" target="_blank" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; margin-top: 26px; margin-right: 584px; float: right;">更多&gt;</a></div></div>
<div class="youbianhd">
<span class="zhonghexinwen"><a class="leftmove" href="#" style="color: rgb(34, 103, 177); float:color: #2267b1;font-size: 24px;float: right;margin:0px 0px 0px 45px;width:200px;">综合新闻</a></span><span class="hasjdkad"><a href="xwtz/zhxw.htm" target="_blank" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; margin-top: -30px; margin-left: 1030px; float: left;">更多&gt;</a></span>
<div class="top-right" style="margin-top: -33px;"><a id="xw" href="http://news.nwpu.edu.cn/index.htm" target="_blank">新闻网</a><a href=""><img alt="" src="images/jian.png" style="margin: 4px 0px 0px 6px;"></a> </div></div>
<div class="main-box1-con-bottom">
<div class="main-box1-con-bottom-left" style="width:630px !important;margin-top:26px;">
<ul><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><ul>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/108668.htm" title="西工大邀您申报新增批次海外优青" target="_blank"><img src="/__local/5/1E/AF/967222AD580CCAC193F1A521A46_ACAF2567_67DED.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/108668.htm" title="西工大邀您申报新增批次海外优青" target="_blank">西工大邀您申报新增批次海外优青</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/108678.htm" title="再创新高！西工大2025年本科招生工作圆满完成！" target="_blank"><img src="/__local/6/AB/EE/331E12812276D834F62D29AEA65_11E47690_A1BAA.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/108678.htm" title="再创新高！西工大2025年本科招生工作圆满完成！" target="_blank">再创新高！西工大2025年本科招生工作圆满完成！</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/107988.htm" title="西北工业大学成立人工智能学院" target="_blank"><img src="/__local/B/F2/D8/C04D0640F2060011A9E9A2A2A6F_4B1280C0_7B9E6.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/107988.htm" title="西北工业大学成立人工智能学院" target="_blank">西北工业大学成立人工智能学院</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/107928.htm" title="学校召开2025年上半年工作总结会" target="_blank"><img src="/__local/A/EF/AF/03A62C7CFC0B264F76D61530E55_40001238_B5656C.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/107928.htm" title="学校召开2025年上半年工作总结会" target="_blank">学校召开2025年上半年工作总结会</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>
</ul>
<script>_showDynClickBatch(['dynclicks_u10_108668','dynclicks_u10_108678','dynclicks_u10_107988','dynclicks_u10_107928'],[108668,108678,107988,107928],"wbnews", 1328288089)</script>
</ul></div>
<div class="main-box1-con-bottom-right" style="width:550px !important;margin-top:18px;">
<ul><li style="width:550px !important;display:flex;"><a href="info/1198/108518.htm" target="_blank" title="2025年全国工业和信息化主管部门负责同志座谈会在京召开" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">2025年全国工业和信息化主管部门负责同志座谈会在京召开</a><span style="width:55px;font-size:16px;">07-29</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108548.htm" target="_blank" title="校长宋保维检查长安校区暑期校园开放运行情况" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">校长宋保维检查长安校区暑期校园开放运行情况</a><span style="width:55px;font-size:16px;">07-29</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108608.htm" target="_blank" title="高等教育国际化：涉外办学研讨会在我校召开" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">高等教育国际化：涉外办学研讨会在我校召开</a><span style="width:55px;font-size:16px;">08-04</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108418.htm" target="_blank" title="校长宋保维检查指导本科招生录取和教学管理工作" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">校长宋保维检查指导本科招生录取和教学管理工作</a><span style="width:55px;font-size:16px;">07-24</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108468.htm" target="_blank" title="校长宋保维带队赴哈尔滨工程大学调研交流" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">校长宋保维带队赴哈尔滨工程大学调研交流</a><span style="width:55px;font-size:16px;">07-26</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108628.htm" target="_blank" title="学校召开2025年第六次人才工作推进会" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">学校召开2025年第六次人才工作推进会</a><span style="width:55px;font-size:16px;">08-04</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108588.htm" target="_blank" title="生态环境学院蔡晶教授团队最新研究成果在《Nature Plants》发表" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">生态环境学院蔡晶教授团队最新研究成果在《Nature Plants》发表</a><span style="width:55px;font-size:16px;">08-03</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108568.htm" target="_blank" title="文化遗产研究院杨欢副教授研究成果在国际顶级期刊Journal of Archaeological Science发表" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">文化遗产研究院杨欢副教授研究成果在国际顶级期刊Journal of Ar...</a><span style="width:55px;font-size:16px;">08-03</span></li>
<li style="width:550px !important;display:flex;"><a href="http://news.nwpu.edu.cn/info/1380/138679.htm" target="_blank" title="电子信息学院谢松云教授受邀在AI4G“脑机接口研讨会”作主题演讲" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">电子信息学院谢松云教授受邀在AI4G“脑机接口研讨会”作主题演...</a><span style="width:55px;font-size:16px;">07-26</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/108538.htm" target="_blank" title="我校在中国国际大学生创新大赛（2025）陕西赛区省级复赛中取得优异成绩" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">我校在中国国际大学生创新大赛（2025）陕西赛区省级复赛中取得...</a><span style="width:55px;font-size:16px;">07-29</span></li>
<script>_showDynClickBatch(['dynclicks_u11_108518','dynclicks_u11_108548','dynclicks_u11_108608','dynclicks_u11_108418','dynclicks_u11_108468','dynclicks_u11_108628','dynclicks_u11_108588','dynclicks_u11_108568','dynclicks_u11_108448','dynclicks_u11_108538'],[108518,108548,108608,108418,108468,108628,108588,108568,108448,108538],"wbnews", 1328288089)</script>
</ul></div></div></div></div>
<div class="main-box2">
<div class="main-box2-con">
<div class="main-box2-con-xueshu">
<h3><a class="leftmove" href="xwtz/xsjl.htm" target="_blank">学术&交流</a><a href="xwtz/xsjl.htm" target="" style="font-size: 14px; font-weight: bold; float: right;">更多&gt;</a></h3>
<ul><li><a href="info/1039/106938.htm" target="_blank" title="【学术会议】第一届(2025)高新技术创新发展大会——未来材料与制造">【学术会议】第一届(2025)高新技术创新发展大会——未来材...</a>
<span>06-23</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/33807.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告 ——苏梅梅：在奥克兰大学研究多智能体系统分布式决策优化体系研究">【学术报告】研究生出国（境）交流项目系列报告 ——苏梅梅...</a>
<span>06-13</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/33827.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告 ——康美琳：在新西兰奥克兰大学对机器人运动规划及控制的深入研究">【学术报告】研究生出国（境）交流项目系列报告 ——康美琳...</a>
<span>06-11</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/33817.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告 ——张文婷：在德国柏林洪堡大学探索自激励极限环振子的随机动力学">【学术报告】研究生出国（境）交流项目系列报告 ——张文婷...</a>
<span>06-11</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/33797.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——陈秦虎：在新西兰奥克兰大学的留学经历">【学术报告】研究生出国（境）交流项目系列报告——陈秦虎...</a>
<span>06-10</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/33617.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——刘冠闻：在瑞典皇家理工学院探索人体代谢和肠道微生物组的关系">【学术报告】研究生出国（境）交流项目系列报告——刘冠闻...</a>
<span>05-30</span></li>
<script>_showDynClickBatch(['dynclicks_u12_106938','dynclicks_u12_106128','dynclicks_u12_106148','dynclicks_u12_106138','dynclicks_u12_106118','dynclicks_u12_105438'],[106938,106128,106148,106138,106118,105438],"wbnews", 1328288089)</script>
</ul></div>
<div class="main-box2-con-meiti">
<h3><a class="leftmove" href="xwtz/mtgd.htm" target="_blank" style="color: rgb(34, 103, 177);">媒体&关注</a><a href="xwtz/mtgd.htm" target="" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; float: right;">更多&gt;</a></h3>
<ul><li><a href="https://content-static.cctvnews.cctv.com/snow-book/video.html?item_id=2636876543058034382&t=1754220194877&toc_style_id=video_default&share_to=wechat&track_id=234de066-541a-4aa3-995b-0695f07021bd" target="_blank" title="[央视新闻]蔡奇看望慰问北戴河暑期休假专家">[央视新闻]蔡奇看望慰问北戴河暑期休假专家</a><span>08-04</span></li>
<li><a href="https://mp.weixin.qq.com/s/SMKR-k2s64UYAeBRvTF22g" target="_blank" title="[中国教育报]把工程硕博士学位论文“写”在国之重器上！西北工业大学这样打造人才培养新路径→">[中国教育报]把工程硕博士学位论文“写”在国之重器上！西...</a><span>07-21</span></li>
<li><a href="https://mp.weixin.qq.com/s/HV1Eg6crSxWKhqqiKp9_uA" target="_blank" title="[微言教育]把工程硕博士学位论文“写”在国之重器上！西北工业大学这样打造人才培养新路径→">[微言教育]把工程硕博士学位论文“写”在国之重器上！西北...</a><span>07-18</span></li>
<li><a href="https://share.app3.jyb.cn/paper_d/2ac5b8f58b35508439b71384a8d9a68c?from=UC92azc3djZYbnBlb2NaNkRvdVR4WUFHU1ZXbGdYS25Md1NFdE00ZGhETk5LenBDb3ErTnUxQnVPUDdjYTZ5RA==" target="_blank" title="[中国教育报]构建实践育人体系锻造“总师型”人才">[中国教育报]构建实践育人体系锻造“总师型”人才</a><span>07-16</span></li>
<li><a href="https://content-static.cctvnews.cctv.com/snow-book/video.html?item_id=1113894333980664646&t=1752672099055&toc_style_id=video_default&share_to=wechat&track_id=238044e2-c52d-4188-81e4-de7db2d68701" target="_blank" title="[央视]东方时空：如何培养卓越工程师？“订单式”选拔 严把导师关生源关">[央视]东方时空：如何培养卓越工程师？“订单式”选拔 严把...</a><span>07-17</span></li>
<li><a href="https://content-static.cctvnews.cctv.com/snow-book/index.html?item_id=13669957654472479858&t=1752688302182&toc_style_id=feeds_default&share_to=wechat&track_id=96dc9f1e-b26e-4e85-8122-da4d01900583" target="_blank" title="[央视]带着企业“真问题”上学 卓越工程师培养开启“实战”模式">[央视]带着企业“真问题”上学 卓越工程师培养开启“实战”...</a><span>07-17</span></li>
<script>_showDynClickBatch(['dynclicks_u13_108618','dynclicks_u13_108318','dynclicks_u13_108288','dynclicks_u13_108128','dynclicks_u13_108188','dynclicks_u13_108178'],[108618,108318,108288,108128,108188,108178],"wbnews", 1328288089)</script>
</ul></div></div></div>
<div class="main-box3">
<div class="main-box3-con">
<ul>
<li id="li1" aos="fade-down-right">
<div class="li-one"><a href="#"><img alt="" src="images/foot33.png"></a> </div>
<div class="li-box">
<h3>数字校园</h3>
<div class="linkt">  <SPAN><A href="https://uis.nwpu.edu.cn/cas/login?service=https%3A%2F%2Fecampus.nwpu.edu.cn%2Fc%2Fportal%2Flogin" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11501)">翱翔门户</A></SPAN> 
  <SPAN><A href="https://oa.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11502)">翱翔办公</A></SPAN> 
  <SPAN><A href="http://mail.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11503)">电子邮件</A></SPAN> 
  <SPAN><A href="http://xygg.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11504)">校园公告</A></SPAN> 
  <SPAN><A href="http://tushuguan.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11505)">图书文献</A></SPAN> 
</div></div></li>
<li id="li3" aos="fade-down">
<div class="li-one">     <a href="#" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 53940)"><img src="images/foot44.png" alt=""></a>
</div>
<div class="li-two" style="background: url(images/03.png);">
<h3><a class="shibie" target="_blank">校园服务</a> 
<div class="linkt" style="width: 265px;">   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://xxgk.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11510)">信息公开</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="index/xydt.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11511)">校园地图</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://xygg.nwpu.edu.cn/info/1003/22073.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11512)">校历校车</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://atcrs.nwpu.edu.cn/lims/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 40054)">预约平台</A></SPAN> 
    
 
  <SPAN style="display: block;text-align: center;"><A href="http://baoxiu.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11590)">全校统一报修</A></SPAN> 
 
</div></h3></div></li>
<li id="li5" aos="fade-up"><a href="https://www.nwpu.edu.cn/ddh/"><img width="300" alt="" src="images/dangdaihuigengxin.jpg"></a> </li>
<li id="li3" aos="fade-down-left">
    

<a href="https://z.nwpu.edu.cn/djxxjy/" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 1010175)"><img src="images/20240515zskzdjxxjy.jpg" alt="" width="300" height="300"></a>
    <div class="ht" style="font-size:18px;font-weight:bold;margin-top:-10px;margin-left:-10px;"><a href="https://z.nwpu.edu.cn/djxxjy/" target="_blank"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>




</li>
<li id="li4" aos="fade-up-right">
<div class="li-one">
<h3><a class="shibie">文化工大</a> 
<div class="linkt">  <SPAN style="width:100px;text-align:left;"><A href="http://news.nwpu.edu.cn/xcb/index/xxsbxt.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11513)">形象识别系统</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://www.jt720.cn/t/f4bf97cf4b047e05?s=scene_b68e32d2cec7bcf3" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 39914)">数字校史馆</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://news.nwpu.edu.cn/index/jjxy.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 51695)">菁菁校园</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://news.nwpu.edu.cn/info/1212/83049.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 82735)">西工大宣传片</A></SPAN> 
</div></h3></div>
<div class="li-two">
<a href="https://xgdst.nwpu.edu.cn/" target="_blank"><img src="images/stgd-pic0307.png"></a>
</div></li>
<li id="li5" aos="fade-up" style="background: url(images/qqrmtjz-bg.png); position: relative;">
<img id="ewm-box" src="images/qqrmtjz-logo.png">
<div id="icon-box">
    <div class="rmtjz01">
    <img class="jz-icon" src="images/qqrmtjz-icon01.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm01.png"> 
    </div>
    <div class="rmtjz02">
    <img class="jz-icon" src="images/qqrmtjz-icon02.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm02.png"> 
    </div>
    <div class="rmtjz03">
    <img class="jz-icon" src="images/qqrmtjz-icon03.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm03.png"> 
    </div>
    <div class="rmtjz04">
    <img class="jz-icon" src="images/qqrmtjz-icon04.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm04.png"> 
    </div>
    <div class="rmtjz05">
    <img class="jz-icon" src="images/qqrmtjz-icon05.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm05.png">
    </div>
    <div class="rmtjz06">
    <img class="jz-icon" src="images/qqrmtjz-icon06.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm06.png"> 
    </div>
    <div class="rmtjz07">
    <img class="jz-icon" src="images/qqrmtjz-icon07.png">
    </div>
    <div class="rmtjz08">
    <img class="jz-icon" src="images/qqrmtjz-icon08.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm08.png"> 
    </div>
    <div class="rmtjz09">
    <img class="jz-icon" src="images/qqrmtjz-icon09.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm09.png"> 
    </div>
    <div class="rmtjz10">
    <img class="jz-icon" src="images/qqrmtjz-icon10.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm10.png"> 
    </div>
    <div class="rmtjz11">
    <img class="jz-icon" src="images/qqrmtjz-icon11.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm11.png"> 
    </div>
    <div class="rmtjz12">
    <img class="jz-icon" src="images/qqrmtjz-icon12.png">
    </div>
</div>
<style>
.jz-icon{width:48px;height:48px;cursor:pointer;}
.jz-ewm{display:none;}
#ewm-box{width:110px;height:110px;top:50%;left:50%;margin-left:-55px;margin-top:-39px;position:absolute;}
.rmtjz01{top:38px;left:141px;position:absolute;width:48px;height:48px;}
.rmtjz02{top:62px;left:192px;position:absolute;width:48px;height:48px;}
.rmtjz03{top:107px;left:224px;position:absolute;width:48px;height:48px;}
.rmtjz04{top:161px;left:229px;position:absolute;width:48px;height:48px;}
.rmtjz05{top:211px;left:204px;position:absolute;width:48px;height:48px;}
.rmtjz06{top:242px;left:159px;position:absolute;width:48px;height:48px;}
.rmtjz07{top:247px;left:105px;position:absolute;width:48px;height:48px;}
.rmtjz08{top:223px;left:56px;position:absolute;width:48px;height:48px;}
.rmtjz09{top:178px;left:25px;position:absolute;width:48px;height:48px;}
.rmtjz10{top:126px;left:20px;position:absolute;width:48px;height:48px;}
.rmtjz11{top:76px;left:42px;position:absolute;width:48px;height:48px;}
.rmtjz12{top:44px;left:86px;position:absolute;width:48px;height:48px;}
</style>

<script>
var iconBox = document.getElementById("icon-box").children;
var ewmBox = document.getElementById("ewm-box");
var ewmBoxs = document.getElementById("ewm-box").src;
for(var i = 0;i< iconBox.length;i++){
 iconBox[i].onmouseover = function(){
   var jzEwm = this.children[1];
   if(jzEwm!==""){ewmBox.src=jzEwm.src}else{ewmBox.src=ewmBoxs;};
 }
  iconBox[i].onmouseout = function(){
   ewmBox.src=ewmBoxs;
  }
}
</script>

</li>
<li aos="fade-down"><a href="https://news.nwpu.edu.cn/xsky.htm" target="_blank"><img src="rfpics/xsyj20250228.jpg"></a> </li>
<li aos="fade-up-left"><a href="https://pinggu.nwpu.edu.cn">     
                        <a href="https://zsb.nwpu.edu.cn/" title="" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 1017413)" target="_blank">
                            <img src="images/bkzs_20250603.png" border="0" width="300" height="300">
                        </a>  
</a> </li></ul>
<div style="clear: both;"></div>
<div class="footer">
<div class="footer-con">
<div class="footer-con-left">    <a href="index.htm"><img src="images/logo6.png"></a>
</div>
<div class="footer-con-middle"><script language="javascript" src="/system/resource/js/news/mp4video.js"></script><table class="winstyle140458" width="100%">
    <tr>
        <td><p><font style="color: #ffffff;font-size: 10.5pt">友谊校区地址：西安市友谊西路127号&nbsp;&nbsp;&nbsp;&nbsp;邮编:710072</font></p> 
<p><font style="color: #ffffff;font-size: 10.5pt">长安校区地址：西安市长安区东祥路1号&nbsp; 邮编:710129</font></p></td>
    </tr>
</table></div>
<div class="footer-con-right"><p style="width: 300px; float: left; line-height: 24px">版权所有 © 西北工业大学<br /><a href="https://beian.miit.gov.cn" target="_blank">ICP备案号：陕ICP备05010979号&nbsp;</a>&nbsp;</p><div style="float: right"></div></div>
<div class="bqpic pic">    <a target="_blank" href="http://bszs.conac.cn/sitename?method=show&id=119A15AAE94A05CBE053012819AC00C3" target="_blank" style="position:relative;left:-23px;"><img src="images/blue.png"></a>
<div style="position:relative;top:-60px;left:-110px;"><img width="100" src="images/kexinewnzheng.png"></div>
<div style="position:relative;top:-108px;left:45px;"><a target="_blank" href="https://www.ipv6enabled.cn/index/certificate.html?logoid=100&&renz_result=0"><img width="50" src="images/ipv6.png"></a></div></div>
<div class="btn_wap">        <a id="wapbtn" href="javascript:void(0);" onclick="_vsb_multiscreen.setDevice('mobile')">手机版</a>
</div>
</div></div></div></div></div></div>

<script src="js/respond.min.js"></script>
<script src="js/bdtxk.js"></script>
<script src="js/placeholder.js"></script>
<script> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</script>

<!-- css3动效 --><script src="js/aos.js"></script><script type="text/javascript">
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script><script src="js/style.js"></script><script type="text/javascript" src="js/jquery.flexslider-min.js"></script><script type="text/javascript">
$(document).ready(function(){
    $('.flexslider').flexslider({
        directionnav: true,
        pauseonaction: false,
        pauseOnHover: true,
        slideshowSpeed: 7000
    });
});
</script><script type="text/javascript" src="js/responsiveslides.min.js"></script><script type="text/javascript">
    $(function () {
        // Slideshow 
        $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            pause: true,
            pauseControls: true,
            nav: true,
            speed: 500,
            timeout:4000,
            pager: true, 
            pauseControls: true,
            namespace: "callbacks"
        });
    });
    
    $(function(){
        $("div.search input[name=showkeycode]").attr("placeholder","请输入搜索关键字");
    });

    </script><script>
        if (!$.support.leadingWhitespace) {
            $("#browser_ie").show();
           $("#dd").hide();
                   }
    </script>

  


</body></html>
